/* Sidebar.css */

/* Estilos para a barra lateral */
#sidebar {
    width: 10%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    color: #fff;
    padding: 0;
    /* Remova a transição e o overflow-y para a barra de rolagem lateral */
}

/* Estilos para o cabeçalho da barra lateral */
.sidebar-header {
    padding: 4px;
    background-color: #292b2c;
}

img {
    width: 100%;
}

/* Estilos para o botão de dropdown */
.dropdown-toggle {
    background-color: transparent;
    border: none;
    color: #fff;
    width: 100%;
    text-align: left;
}

/* Estilos para o menu suspenso */
.dropdown-menu {
    background-color: #333;
}

/* Estilos para os itens do menu suspenso */
.dropdown-item {
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    /* Transição suave de cor ao passar o mouse */
}

/* Estilo quando o mouse passa por cima de um item de dropdown */
.dropdown-item:hover {
    background-color: #555;
}

/* Estilos para alinhar os botões verticalmente */
#buttonGroup {
    display: block;
    flex-direction: column;
    align-items: flex-start;
    /* Alinhe os botões à esquerda */
}

#buttonGroup .dropdown {
    margin-bottom: 10px;
    /* Espaçamento entre os botões */
}

.link {
    text-decoration: none;
    /* Remove a decoração de sublinhado */
    color: inherit;
    /* Mantém a cor padrão do texto do componente */
    cursor: pointer;
    /* Define o cursor como um ponteiro para indicar que é clicável */
}